@import "~bootstrap/scss/bootstrap";
@import "./fonts";
@import "./animation";
@import "./position";
@import "./loader";

$default-color: #916B6F;

@import "./cover";
@import "./verse";
@import "./bride";
@import "./protocols";

body {
    margin: 0;
    background: #000;
}