@import "~bootstrap/scss/bootstrap";
@import "./fonts";
@import "./animation";
@import "./position";
@import "./loader";

$default-color: #916B6F;

@import "./cover";
@import "./verse";
@import "./bride";
@import "./countdown";
@import "./gallery";
@import "./event-and-location";
@import "./protocols";

body {
    margin: 0;
    background: #000;
}

.audio-button {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 4;
    cursor: pointer;
}

.navbar {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FEFBFB;
    padding: 1rem;
    @include media-breakpoint-up(md) {
        display: flex;
        justify-content: center;
    }
    // @include media-breakpoint-up(md) {
    //     top: 0;
    //     bottom: unset;
    // }
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: inherit;
        padding: 0;
        margin: 0;
        @include media-breakpoint-up(md) {
            width: 40%;
        }
        @include media-breakpoint-up(lg) {
            width: 25%;
        }
        .nav-item {
            width: 15%;
            padding: 0 0.5rem;
            cursor: pointer;
            .nav-icon {
                width: 100%;
            }
        }
    }
}
